<h1>Bonjour! Confirmez votre email!</h1>

<p>
    Vous vous êtes inscrit(e) sur notre site de ventes NeliExprass.<br>
    Veuillez confirmer votre adresse mail en clickant sur le lien ci-dessous pour valider votre création de compte : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Ce message sera expiré dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt !
</p>
